%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Sing up
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    %p.general-login-text or
  %form.general-form
    .form-group.mb-30
      %label.control-label.input-label{for: "email"} Enter Email
      %input#email.form-control{name:"email", type: "email", placeholder: "Enter Email"}
    .form-group.mb-30
      %label.control-label.input-label{for: "password"} Password
      %input#password.form-control{name:"password", type: "password", placeholder: "Password"}
    .form-group.mb-30
      %label.control-label.input-label{for: "confirm"} Confirm Password
      %input#confirm.form-control{name:"confirm", type: "password", placeholder: "Confirm Password"}
    .form-group.checkbox.text-center.mb-30
      %button.btn.btn-default.mb-20 Sing up
  %p.general-sign-text.text-center
    Do you have account?
    %a.in-gold-500{href: "#{new_user_session_path}"} Log in