.mb-80
  %h3 Write a Review
  %p.general-info-text Score
  .mb-15
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
  %form.row
    .col-md-8
      .mb-40
        .form-group
          %label.control-label.input-label.in-grey-600{for: "title"} Title
          %input#title.form-control{name:"title", type: "text"}
        .form-group
          %label.control-label.input-label.in-grey-600{for: "review"} Review
          %textarea#review.form-control{name:"review", type: "text"}
      .text-right
        %button.btn.disabled.mb-20 Post
