%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Log In
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    %p.general-login-text or
  %form.general-form
    .form-group.mb-30
      %label.control-label.input-label{for: "email"} Enter Email
      %input#email.form-control{name:"email", type: "email", placeholder: "Enter Email"}
    .form-group.mb-30
      %label.control-label.input-label{for: "password"} Password
      %input#password.form-control{name:"password", type: "password", placeholder: "Password"}
      %a.help-block.in-gold-500{href: "#{new_user_password_path}"} Forgot password?
    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        %input.checkbox-input{type: "checkbox", hidden: "true"}
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text Remember me
    .text-center
      %button.btn.btn-default.mb-20 Log in
  %p.general-sign-text.text-center
    Don’t have an Account?
    %a.in-gold-500{href: "#{new_user_registration_path}"} Sign Up